html {
  font-size: 10px;
}

body {
  margin: 0px;
}

.landing-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 38% 38% auto;
      grid-template-columns: auto 38% 38% auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.landing-wrapper .landing-bio {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper .landing-bio .bio {
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
}

.landing-wrapper .login-wrapper {
  -ms-grid-column: 3;
      grid-column-start: 3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-wrapper .login-wrapper h1 {
  font-size: 3rem;
  color: #BE945C;
}

.landing-wrapper .login-wrapper .form-wrapper {
  width: 90%;
  height: 350px;
  background-color: #BE945C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper .login-wrapper .form-wrapper form {
  margin-top: 15px;
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-wrapper .login-wrapper .form-wrapper form .input-wrapper {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper .login-wrapper .form-wrapper form .input-wrapper input {
  padding: 10px 20px;
  font-size: 2rem;
}

.landing-wrapper .login-wrapper .form-wrapper form .input-wrapper input :focus {
  outline: none;
}

.landing-wrapper .login-wrapper .form-wrapper form button {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: white;
}

.landing-wrapper .login-wrapper .form-wrapper form button :focus {
  outline: none;
}

.landing-wrapper .login-wrapper a {
  margin-top: 10px;
  margin-left: 60%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.register-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.register-wrapper h1 {
  font-size: 3rem;
  color: #BE945C;
}

.register-wrapper .register-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 550px;
  background-color: #BE945C;
}

.register-wrapper .register-form-wrapper form {
  width: 80%;
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-wrapper .register-form-wrapper form .register-input-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .register-form-wrapper form .register-input-wrapper input {
  padding: 10px 20px;
  font-size: 2rem;
}

.register-wrapper .register-form-wrapper form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
}

.register-wrapper a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #BE945C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin: auto 25px;
}

.player-main-wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
}

.player-main-wrapper .player-main-content-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper h3 {
  margin-bottom: 5px;
  color: #BE945C;
  font-size: 3rem;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .display-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
  gap: 20px;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .display-wrapper .display-item {
  height: 100%;
  width: 100%;
  background-color: #BE945C;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .display-wrapper .display-item .item-content-wrapper {
  font-size: 1.7rem;
  width: 80%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .display-wrapper .display-item a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .search-link-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.player-main-wrapper .player-main-content-wrapper .player-team-display-wrapper .search-link-wrapper a {
  text-decoration: none;
  color: black;
  font-size: 1.9rem;
}

.profile-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 20%;
      grid-template-columns: 20% 1fr 20%;
  height: 100vh;
}

.profile-wrapper .profile-content-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .toggle-edit {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: white;
  border-color: #BE945C;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .edit-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .edit-form form {
  width: 100%;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .edit-form form .input-wrapper {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .edit-form form .input-wrapper input {
  font-size: 1.4rem;
  margin-top: 6px;
  margin-bottom: 15px;
  padding: 5px 10px;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .edit-form form .input-wrapper button {
  margin-top: 10px;
  width: 40%;
  padding: 5px 10px;
  background-color: white;
  border-color: #BE945C;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .player-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-content-wrapper .profile-info-wrapper .player-info .info {
  width: 100%;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr 150px 20%;
      grid-template-columns: 20% 1fr 150px 20%;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .logout {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .logout button {
  background-color: white;
  border-color: #BE945C;
  padding: 10px 10px;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper {
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper .delete-check {
  background-color: white;
  border-color: #BE945C;
  padding: 10px 10px;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper .delete-confirm {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper .delete-confirm h2 {
  font-size: 1.7rem;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper .delete-confirm .delete-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-wrapper .profile-content-wrapper .profile-settings-wrapper .delete-wrapper .delete-confirm .delete-option button {
  background-color: white;
  border-color: #BE945C;
  padding: 6px 10px;
}
/*# sourceMappingURL=main.css.map */