.navigation {
    font-size: 2rem;
    width: 100vw;
    height: 55px;
    background-color: $navgreen;
    display: grid;
    grid-template-columns: 400px auto 200px;
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .left-nav {
        grid-column: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .right-nav {
        grid-column: 3;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
}