.register-wrapper {
    @include super-center;
    flex-direction: column;
    height: 100vh;

    h1 {
        @media (max-width: 560px) {
            padding-top: 25px;
        }
        font-size: 3rem;
        color: $navgreen;
    }

    .register-form-wrapper {
        @media (max-width: 560px) {
            width: 320px;
            height: 500px;
        }
        @media (min-width: 560px) {
            width: 500px;
            height: 550px;
        }
        @include super-center;
        background-color: $navgreen;

        form {
            width: 80%;
            height: 88%;
            @include super-center;
            flex-direction: column;

            .register-input-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                input {
                    @media (max-width: 560px) {
                        padding: 10px 20px;
                        font-size: 1.8rem;
                    }
                    @media (min-width: 560px) {
                        padding: 10px 20px;
                        font-size: 2rem;
                    }
                }
            }

            button {
                @media (max-width: 560px) {
                    margin-top: 20px;
                    font-size: 1.8rem;
                }
                @media (min-width: 560px) {
                    margin-top: 15px;
                }
                padding: 10px 20px;
                background-color: white;
            }
        }
    }

    a {
        @media (max-width: 560px) {
            margin-top: 20px;
            font-size: 2.5rem;
            margin-bottom: 50px;
        }
        @media (min-width: 560px) {
            margin-top: 10px;
            font-size: 2rem;
        }
        text-decoration: none;
        color: black;
    }
    
}